.page {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.contentBox {
    width: 100%;
    max-width: 960px;
    min-height: 500px;

    padding: 32px;
    border-radius: 16px;

    background: #121a26;
    box-shadow: 0 20x 50px rgba(0, 0, 0, 0.45);

    max-height: calc(100vh - 96px);
    overflow-y: auto;

    align-items: center;
}