.panels {
    width: 100%;
    height: 100%;
}

.sideBox {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 16px;
    background: #121a26;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
}