.screenContent {
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 10px;
    width: 100%;
    
    box-sizing: border-box;
}

.right {
    justify-items: end;
    height: 100%;
}


.title {
    font-weight: lighter;
    text-align: center;
}
